@{
    Layout = null;

    var account_row_id =0;
    var account_id = 100700000;
    var card_type = "VentureOne Rewards";
    var  total_rewards_earned = 3330.5392500000003;
    var  credit_limit = 266933.14;
    var total_rewards_used = 1732;
    var balance = 266443.14;
    //vector<Customer*> authorized_users; //Vector of Customer pointers

    




}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>HELLO HELLO HELLO</h1>
    </div>

    
        

    
</body>
</html>
